<h1>amazing islands</h1>
<% @islands.each do |island| %>
  <h3>Island name: <%= link_to island.name, island_path(island) %></h3>
  <p>Island desc: <%= island.description %></p>
  <p>Island-Ower: <%= island.user.email %></p>
<% end %>
