<!-- <h1 class="d-flex justify-content-center">Whistle Islands</h1> -->
<h1 class="title">Whistle Islands</h1>
<div class="cards">
  <% @islands.each do |island| %>
      <div class="card-island">
        <%= cl_image_tag island.photo %>
        <div class="card-island-infos">
          <div>
            <h2><%= link_to island.name, island_path(island) %></h2>
            <p><%= island.description %></p>
          </div>
          <h2 class="price"><%= island.price %>$/Night</h2>
          <img src="https://i.pinimg.com/originals/b6/4f/fe/b64ffe7276b4579c348f6bea88c2bb44.png" class="card-island-user avatar-bordered" />
        </div>
      </div>
  <% end %>
</div>

