<h1>Whistle Islands</h1>
<% @islands.each do |island| %>
  <h3>Name: <%= link_to island.name, island_path(island) %></h3>
  <p>Description: <%= island.description %></p>
  <p>Owner: <%= island.user.email %></p>
<% end %>
