    <div class="container">
      <%= simple_form_for [@island] do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit "Save Island", class: "btn btn-primary" %>
    <% end %>
    </div>



