// Define variables for your color scheme
$title: #1FA5C9;
$subtitle: #4CBBC6;
$footnote: #81DAEB;
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
