.booking-form-container {
  width: 1000px;
  margin: 0 auto;
  .booking-form-title {
    text-align: center;
    margin: 50px 0;
  }
  .booking-form-details {
    display: flex;
    .booking-form-date {

    }
    .booking-form-desc {

    }
  }
}
