.card-dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr ;
  grid-gap: 16px;
  padding: 15px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-dashboard {
    grid-template-columns: 1fr;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-dashboard {
    grid-template-columns: 1fr;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-dashboard {
    grid-template-columns: 1fr 2fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-dashboard {
    grid-template-columns: 1fr 2fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-dashboard {
    grid-template-columns: 1fr 2fr;
  }
}

.card-dashboard .col-sm-6 {
  max-width: 70%;
}



