.dashboard-card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin: 30px;
  width: 25vw;
}

.dashboard-card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.dashboard-card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.dashboard-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.dashboard-card-product .card-product-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


