.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  img {
    height: 80px;
  }
  p {
    margin-bottom: 1px !important;
  }
}

.mapboxgl-popup-close-button {
  background-color: white !important;
}

